@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

}

@model Link 

<p>Input Page</p>
<a asp-controller="Coding" asp-action="CSharpMessage">Link to Cpp Message</a>
<br />

<form asp-action="CppInput" asp-controller="Coding" method="post" class="form-horizonal">
    <div asp-validation-summary="All"></div>
    <!-- form goes here -->
    <div class="form-group">
        <input class="form-control" placeholder="Input Sender Name" asp-for="Sender" />
        <br />
        <input class="form-control" placeholder="Input Subject Title" asp-for="Subject" />
        <br />
        <input class="form-control" placeholder="Input Url Name" asp-for="UrlName" />
        <br />
        <input class="form-control" placeholder="Input Url " asp-for="URL" />
        <br />
        <button class="btn-default">Submit</button>
    </div>
</form>