@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Message

<p>csharp topic</p>
<a asp-controller="Coding" asp-action="CSharpMessage">Link to CSharp Message</a>
<br />
<form asp-action="SaveMessage" asp-controller="Coding" method="post" class="form-horizonal">
    <div asp-validation-summary="All"></div>
    <!-- form goes here -->
    <div class="form-group">
        <input class="form-control" placeholder="Input Sender Name" asp-for="Sender" />
        <br />
        <input class="form-control" placeholder="Input Subject Title" asp-for="Subject" />
        <br />
        <textarea asp-for="Body" placeholder="Enter Text Here..." class="form-control"></textarea>
        <button class="btn-default">Submit</button>
    </div>
</form>