<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KL296NTermProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <section class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </section>
        <footer class="footer bg-light">
            <div class="container p-4">
                <div class="row">
                    <ul class="nav navbar-collapse">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Coding" asp-action="CppPost">Cpp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Coding" asp-action="CSharpPost">CSharp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Coding" asp-action="JSPost">JS</a>
                        </li>
                        <li class="nav-item mx-auto">
                            <form class="nav-item" submit="post">
                                <fieldset>
                                    <div style="display:inline;margin-right:10px">
                                        <label>
                                            Cpp
                                            <input type="radio" value="Cpp" name="id" />
                                        </label>
                                        <label>
                                            CSharp
                                            <input type="radio" value="CSharp" name="id" />
                                        </label>
                                        <label>
                                            JS
                                            <input type="radio" value="JS" name="id" />
                                        </label>
                                        <input type="text" asp-action="Search" asp-controller="Coding" style="display:inline;width:300px;height:25px" />
                                    </div>
                                </fieldset>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
