@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>cpp link</p>
<a asp-controller="Coding" asp-action="CppTopic">Link to Cpp Topic</a>
<br />