@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div>
        <h1 class="">Welcome To The Coding Dojo</h1>
        <p>A place to share tips, and tricks with helpful information as well as sharing your personal interests in coding</p>
    </div>
    <div>
        <p class="">Register and Login Here</p>

<!--
        using Microsoft.AspNetCore.Identity
        inject SignInManager<AppUser> signInManager
        if (signInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <form method="post" asp-action="LogOut" asp-controller="Account" asp-area="">
                    <input type="submit" value="Log Out" class="btn btn-outline-dark" />
                    <span class="text-dark">User.Identity.Name</span>
                </form>
            </li>

        }
        else
        { }
-->        
        <div>
            <span>
                <a method="post" asp-action="Login" asp-controller="Account" asp-area="">
                    <input type="submit" value="Login" class="btn btn-dark btn-outline-light" />
                </a>
            </span>
            <span>
                <a method="post" asp-action="Register" asp-controller="Account" asp-area="">
                    <input type="submit" value="Register" class="btn btn-dark btn-outline-light" />
                </a>
            </span>
            <span>
                <a method="post" asp-action="Logout" asp-controller="Account" asp-area="">
                    <input type="submit" value="Logout" class="btn btn-dark btn-outline-light" />
                </a>
            </span>
        </div>
        <br />
        <br />
            <section class="row">

                <section class="col-3">

                    <div class="float-left">
                        <div class="font-weight-bold">Topics CPP</div>
                        <a asp-action="CppTopic" asp-controller="Coding">
                            <img src="pexels-negative-space-97077.jpg" alt="code picture" width="160" height="120" />
                        </a>
                    </div>

                    <div class="float-left">
                        <div class="font-weight-bold">Topics CSharp</div>
                        <a asp-action="CSharpTopic" asp-controller="Coding">
                            <img src="pexels-negative-space-97077.jpg" alt="code picture" width="160" height="120" />
                        </a>
                    </div>

                    <div class="float-left">
                        <div class="font-weight-bold">Topics JS</div>
                        <a asp-action="JSTopic" asp-controller="Coding">
                            <img src="pexels-negative-space-97077.jpg" alt="code picture" width="160" height="120" />
                        </a>
                    </div>

                </section>

                <section class="col-6">
                    <section class="align-content-center">
                        <div class="font-weight-bold">Cpp Links</div>
                        <a asp-action="CppLink" asp-controller="Coding">
                            <img src="pexels-negative-space-97077.jpg" alt="code picture" width="160" height="120" />
                        </a>
                    </section>

                    <section class="align-content-center">
                        <div class="font-weight-bold">CSharp Links</div>
                        <a asp-action="CSharpLink" asp-controller="Coding">
                            <img src="pexels-negative-space-97077.jpg" alt="code picture" width="160" height="120" />
                        </a>
                    </section>

                    <section class="align-content-center">
                        <div class="font-weight-bold">JS Links</div>
                        <a asp-action="JSLink" asp-controller="Coding">
                            <img src="pexels-negative-space-97077.jpg" alt="code picture" width="160" height="120" />
                        </a>
                    </section>
                </section>

                <section class="col-3">

                    <section class="float-right">
                        <div class="font-weight-bold">Cpp Message</div>
                        <a asp-action="CppMessage" asp-controller="Coding">
                            <img src="pexels-negative-space-97077.jpg" alt="code picture" width="160" height="120" />
                        </a>
                    </section>

                    <section class="float-right">
                        <div class="font-weight-bold">CSharp Message</div>
                        <a asp-action="CSharpMessage" asp-controller="Coding">
                            <img src="pexels-negative-space-97077.jpg" alt="code picture" width="160" height="120" />
                        </a>
                    </section>

                    <section class="float-right">
                        <div class="font-weight-bold">JS Message</div>
                        <a asp-action="JSMessage" asp-controller="Coding">
                            <img src="pexels-negative-space-97077.jpg" alt="code picture" width="160" height="120" />
                        </a>
                    </section>
                </section>

            </section>

    </div>
</div>
