@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div>
        <h1 class="">Welcome To The Coding Dojo</h1>
        <p>A place to share tips, and tricks with helpful information as well as sharing your personal interests in coding</p>
    </div>
    <div>
        <p class="">Register and Login Here</p>

<!--
        using Microsoft.AspNetCore.Identity
        inject SignInManager<AppUser> signInManager
        if (signInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <form method="post" asp-action="LogOut" asp-controller="Account" asp-area="">
                    <input type="submit" value="Log Out" class="btn btn-outline-dark" />
                    <span class="text-dark">User.Identity.Name</span>
                </form>
            </li>

        }
        else
        { }
-->        
        <div>
            <span>
                <a method="post" asp-action="Index" asp-controller="Account" asp-area="">
                    <input type="submit" value="Register Or Login" class="btn btn-dark btn-outline-light" />
                </a>
            </span>
        </div>

            <section class="row">

                <section class="col-4">
                    <div class="float-left">
                        <img src="pexels-negative-space-97077.jpg" alt="code picture" width="160" height="120" />
                    </div>
                </section>

                <section class="col-4">
                    <section class="align-content-center">
                        <img src="pexels-negative-space-97077.jpg" alt="code picture" width="160" height="120" />
                    </section>
                </section>

                <section class="col-4">
                    <section class="float-right">
                        <img src="pexels-negative-space-97077.jpg" alt="code picture" width="160" height="120" />
                    </section>
                </section>

            </section>

    </div>
</div>
